*.db
my_task/__pycache__
BOFS

cached_results.json

my_task/static/assets/

data/*
!data/*.R
!data/preference-comments.xlsx

!data/task1/
data/task1/*
!data/task1/*.csv

!data/task3/
data/task3/*
!data/task3/*.csv

!data/task4/
data/task4/*
!data/task4/*.csv