<script type="text/javascript">
    if(location.href.includes("/fullscreen/0") && (window.fullScreen || (window.innerWidth == screen.width && window.innerHeight == screen.height))) {
        window.location.href = "/redirect_next_page";
    }
    document.addEventListener("submit", (event) => {
        if(!(window.fullScreen || (window.innerWidth == screen.width && window.innerHeight == screen.height))) {
            event.preventDefault();
            event.stopPropagation();
            let warning = document.querySelector("#fullscreen-warning");
            if (warning === null) {
                warning = document.createElement("div");
                warning.style = "font-style: italic; color: red;";
                warning.id = "fullscreen-warning";
                warning.innerText = "Please enter Fullscreen mode by pressing F11 and ensure that your browser is at 100% zoom.";
                document.querySelector("#instructions-title")?.after(warning);
            }
        }
    });
</script>

<h1 id="instructions-title">Fullscreen Verification</h1>

<div>
    To optimize your experience, we request that you perform the remainder of the experiment in
    Fullscreen mode at 100% zoom (the default browser zoom level).
    <br />
    Hold <b>CONTROL</b> and press the <b>+</b> or <b>-</b> keys until you are at 100% zoom.
    <br />
    Press <b>F11</b> to enter Fullscreen mode before you continue.
</div>