<script type="text/javascript">
    document.addEventListener("submit", (event) => {
        if(!(window.fullScreen || (window.innerWidth == screen.width && window.innerHeight == screen.height))) {
            event.preventDefault();
            event.stopPropagation();
            let warning = document.querySelector("#fullscreen-warning");
            if (warning === null) {
                warning = document.createElement("div");
                warning.style = "font-style: italic; color: red;";
                warning.id = "fullscreen-warning";
                warning.innerText = "You are not in Fullscreen mode. Please enter Fullscreen mode by pressing F11.";
                document.querySelector("#instructions-title")?.after(warning);
            }
        } else {
            window.location.href = "/return_to_page";
        }
    });
</script>

<h1 id="instructions-title">Oops! You hid the page</h1>
Please ensure that you remain active with the webpage open at all times during each trial.
<br />
Click <b>Continue</b> to return to the task.