<style>
    .fig {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .fig * {
        max-width: 100%;
    }
</style>
<h1>Introduction</h1>
<br />
<div class="fig">
    <img src="{{url_for('my_task.static', filename = 'assets/instructions/introduction_img1.jpg')}}" alt="Introduction image 1"/>
    <small>Fig.1. Visual workspace you will be using. 6 sunflower videos have been loaded in.</small>
</div>
<br />
The goal of this study is to evaluate a variety of video comparison techniques in varying usage
scenarios.
<br /><br />
You will be running through a set of comparison tasks using different techniques
within a visual workspace where multiple videos are automatically loaded into this workspace,
as seen in Figure 1.
<br /><br />
Each technique and task includes an instructions page that should be read carefully.
After completing each task, you will be asked to complete a short questionnaire.
<br /><br />
Click <b>Continue</b> when you are ready to begin.