<style>
    .fig {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .fig * {
        max-width: 100%;
    }
</style>
<h1>Introduction</h1>
<br />
<div class="fig">
    <img src="{{url_for('my_task.static', filename = 'assets/instructions/task4/introduction_img1.webp')}}" alt="Introduction image 1"/>
    <small><b>Fig.1.</b> Visual workspace you will be using. 9 scatterplots have been loaded in.</small>
</div>
<br />
The goal of this study is to evaluate a variety of comparison techniques in varying usage
scenarios.
<br /><br />
You will be running through a set of comparison tasks using different techniques
within a visual workspace where multiple images are automatically loaded into this
workspace, as seen in Figure 1.
<br /><br />
<b>Warning</b>: If you switch tabs or move your cursor out of the webpage for too long, you will redirected to another screen and you will need to restart the task you were on.
<br /><br />
Each technique and task includes an instructions page that should be read carefully.
After completing each task, you will be asked to complete a short questionnaire. In all of the
tasks, please work as <b>quickly</b> and as <b>accurately</b> as you can.
<br /><br />
Click <b>Continue</b> when you are ready to begin.