<div>
  <h1>Shortcut Instructions</h1>
  Keyboard shortcuts is an interaction technique that requires users to use the
  keyboard to use certain tools.
  <br />
  For example: CTRL+C to copy selected text.
  <br />
  <br />
  <h2>Keybinds</h2>
  <h3>C - Circle</h3>
  <b>SHIFT + C</b> puts you in the circle drawing mode. When in circle mode
  click to being drawing a circle with it's center at the mouse position. Hold
  the mouse button down and move the mouse to change the circle's diameter.
  Release the mouse to finish drawing the circle.

  <h3>X - Rectangle</h3>
  <b>SHIFT + X</b> puts you in the rectangle drawing mode. When in rectangle
  mode click to being drawing a rectangle with a corner at the mouse position.
  Hold the mouse button down and move the mouse to change the rectangles length
  and width. Release the mouse to finish drawing the rectangle.

  <h3>V - Polygon</h3>
  <b>SHIFT + V</b> puts you in the polygon drawing mode. When in polygon mode
  click to being drawing a polygon with a vertex at the mouse position. Click
  where you want to add a vertex, and click on the initial vertex to complete
  the polygon.

  <h3>F - Move</h3>
  <b>SHIFT + F</b> puts you in move mode. When in move mode, hover over a shape
  and click to "grab" it. Hold the mouse button down and move the mouse to
  change the shape's position. Release the mouse to finish moving the shape.

  <h3>D - Scale</h3>
  <b>SHIFT + D</b> puts you in scale mode. When in scale mode, hover over a
  shape and click to scale it. Hold the mouse button down and move the mouse to
  change the shape's size. Release the mouse to finish scaling the shape.

  <h3>R - Rotate</h3>
  <b>SHIFT + R</b> puts you in rotate mode. When in rotate mode, hover over a
  shape and click to rotate it. Hold the mouse button down and move the mouse to
  change the shape's rotation. Release the mouse to finish rotating the shape.

  <h3>W - Handle</h3>
  <b>SHIFT + W</b> Puts you in handle grabbing mode. When in handle grabbing
  mode click and hold on the handle you want to grab. Drag the mouse to move the
  handle and release the mouse when you are satisfied

  <h3>H - Colour</h3>
  <b>SHIFT + H</b> Puts you in colouring mode. This will popup a colourwheel on
  the top left of the screen. Click on your desired colour to select a colour
  and click on shapes to paint them the selected colour.

  <h3>T - Bring to top</h3>
  <b>SHIFT + T</b> Puts you in send to top mode. When in send to top mode,
  clicking on a shape will bring it to the top.

  <h3>G - Send to bottom</h3>
  <b>SHIFT + G</b> Puts you in send to bottom mode. When in send to bottom mode,
  clicking on a shape will send it to the bottom.

  <h3>E - Erase</h3>
  <b>SHIFT + E</b> Puts you in erase mode. When in erase mode, clicking on a
  shape will erase it.

  <h3>B - Copy</h3>
  <b>SHIFT + B</b> Puts you in copy mode. When in copy mode, clicking on a shape
  will create a copy of it.

  <br />
  <br />

  You may <b>save this page</b> for future reference.
</div>
