<style>
    .fig {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .fig * {
        max-width: 100%;
        max-height: 40vh;
        text-align: center;
    }
</style>
<h1>Task 4 - Identifying Outliers with Overlays</h1>
<br />
<div class="fig">
    <img src="{{url_for('my_task.static', filename = 'assets/instructions/smallmultiples_task4_img1.webp')}}" alt="Overlays task 4 image 1"/>
    <small><b>Fig.1.</b> Example of one of the 6 scatterplots. Find the scatterplot that has the farthest outlier in the top left half (highlighted in red) of any plot.</small>
</div>
<br />
<b>Description</b>: This task has 2 comparison trials. For each trial, 6 scatterplots will load in for you to view and compare.
Your task is to find the scatterplot that has the farthest outlier from the diagonal in the top left half of the plot (this area is highlighted in red in Figure 1).
<br /><br />
<b>Steps</b>: Identify outliers within this area of interest in each plot, then compare which outlier is the farthest from the diagonal. Select the scatterplot that contains
this outlier.
<br /><br />
<b>Note</b>: You may use the Overlay feature if you want to compare multiple scatterplots at once.
<br /><br />
<b>Reminder</b>: Select a scatterplot by holding <b>CONTROL</b> and clicking on it. 
<br /><br />
Click <b>Continue</b> to begin.