<style>
    .fig {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .fig * {
        max-width: 100%;
    }
</style>
<h1>Task 2 - Sea Ice Extent with Overlays</h1>
<br />
<div class="fig">
    <img src="{{url_for('my_task.static', filename = 'assets/instructions/smallmultiples_task2_img1.png')}}" alt="Overlays task 2 image 1"/>
    <small>Fig.1. Area of interest highlighted in red. Find videos where ice extends into this area.</small>
</div>
<br />
This task has 2 comparison trials. For each trial, 6 Arctic sea ice videos will load in for you to view and compare.
Your task is to find any videos where the ice extends into the rectangular area highlighted in Figure 1.
<br />
<div class="fig">
    <img src="{{url_for('my_task.static', filename = 'assets/instructions/overlays_task2_img2.png')}}" alt="Overlays task 2 image 2"/>
    <small>Fig.2. Example of performing overlay comparison on 6 Arctic sea ice videos.</small>
</div>
<br />
First, play through the videos and find one that does not seem to enter the area of interest at all. Add this video to the overlay as
a baseline. Then, go through each other video and do the following:
<ol>
    <li>Add the video to the overlay (eye will open with 2 as its number).</li>
    <li>Play through the overlaid sea ice videos and observe if the ice in the top layer extends far past the bottom layer within the area of interest.</li>
    <li>If it does, select that video.</li>
    <li>Remove the top video from the overlay by clicking on it on the left (eye with 2 will close), and continue on to the next video.</li>
</ol>
An example of this operation being performed can be seen in Figure 2.
<br /><br />
<b>Reminder</b>: select a video by holding <b>CONTROL</b> and clicking on it. <b>Note</b>: task difficulty is very high.
<br /><br />
Click <b>Continue</b> to begin.