<style>
    .fig {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .fig * {
        max-width: 100%;
    }
</style>
<h1>Task 1 - Tallest Plant with Overlays</h1>
<br />
<div class="fig">
    <img src="{{url_for('my_task.static', filename = 'assets/instructions/overlays_task1_img1.jpg')}}" alt="Overlays task 1 image 1"/>
    <small>Fig.1. Example of performing overlay comparison of 6 sunflower plants.</small>
</div>
<br />
This task has 2 comparison trials. For each trial, 6 plant growing videos will load in for you to view and compare.
Your task is to find the plant that grows the tallest.
<br /><br />
Start by adding the first video to the overlay (click on it). Then go through each of the other videos and do the following:
<ol>
    <li>Add the video to the overlay (eye will open with 2 as its number).</li>
    <li>Play through the overlaid plant videos to see which grows the tallest.</li>
    <li>Remove the shorter plant from the overlay by clicking on it on the left (eye will close).</li>
    <li>Continue on to the next video.</li>
</ol>
Once you have gone through all the videos, select the video that is still in the overlay (only video with its eye open).
<br /><br />
<b>Reminder</b>: select a video by holding <b>CONTROL</b> and clicking on it. 
<br /><br />
Click <b>Continue</b> to begin.