<div>
  <h1>TOOLBAR</h1>
  Toolbars are common in graphical user interfaces. Click on the button
  corresponding to the tool you require.
  <div>
    <!-- <img src="/my_task/assets/circle.png" width="50" height="50" /> -->
    <img
      src="{{url_for('my_task.static', filename='assets/circle.png')}}"
      width="50"
      height="50"
    />

    <b>Circle</b>
    <br />
    When in circle mode click to being drawing a circle with it's center at the
    mouse position. Hold the mouse button down and move the mouse to change the
    circle's diameter. Release the mouse to finish drawing the circle.
  </div>
  <br />

  <div>
    <img
      src="{{url_for('my_task.static', filename='assets/square.png')}}"
      width="50"
      height="50"
    />
    <b>Rectangle</b>
    <br />
    When in rectangle mode click to being drawing a rectangle with a corner at
    the mouse position. Hold the mouse button down and move the mouse to change
    the rectangles length and width. Release the mouse to finish drawing the
    rectangle.
  </div>
  <br />
  <div>
    <img
      src="{{url_for('my_task.static', filename='assets/polygonIcon.png')}}"
      width="50"
      height="50"
    />
    <b>Polygon</b>
    <br />
    When in polygon mode click to being drawing a polygon with a vertex at the
    mouse position. Click where you want to add a vertex, and click on the
    initial vertex to complete the polygon.
  </div>
  <br />
  <div>
    <img
      src="{{url_for('my_task.static', filename='assets/move.png')}}"
      width="50"
      height="50"
    />
    <b>Move</b>
    <br />
    When in move mode, hover over a shape and click to "grab" it. Hold the mouse
    button down and move the mouse to change the shape's position. Release the
    mouse to finish moving the shape.
  </div>
  <br />
  <div>
    <img
      src="{{url_for('my_task.static', filename='assets/resize.png')}}"
      width="50"
      height="50"
    />
    <b>Resize</b>
    <br />
    When in scale mode, hover over a shape and click to scale it. Hold the mouse
    button down and move the mouse to change the shape's size. Release the mouse
    to finish scaling the shape.
  </div>
  <br />
  <div>
    <img
      src="{{url_for('my_task.static', filename='assets/rotate.png')}}"
      width="50"
      height="50"
    />
    <b>Rotate</b>
    <br />
    When in rotate mode, hover over a shape and click to rotate it. Hold the
    mouse button down and move the mouse to change the shape's rotation. Release
    the mouse to finish rotating the shape.
  </div>
  <br />
  <div>
    <img
      src="{{url_for('my_task.static', filename='assets/handle.png')}}"
      width="50"
      height="50"
    />
    <b>Handle</b>
    <br />
    When in handle grabbing mode click and hold on the handle you want to grab.
    Drag the mouse to move the handle and release the mouse when you are
    satisfied
  </div>
  <br />
  <div>
    <img
      src="{{url_for('my_task.static', filename='assets/colour.png')}}"
      width="50"
      height="50"
    />
    <b>Colour</b>
    <br />
    This will popup a colourwheel on the top left of the screen. Click on your
    desired colour to select a colour and click on shapes to paint them the
    selected colour.
  </div>
  <br />
  <div>
    <img
      src="{{url_for('my_task.static', filename='assets/orderUp.png')}}"
      width="50"
      height="50"
    />
    <b>Send to top</b>
    <br />
    When in send to top mode, clicking on a shape will bring it to the top.
  </div>
  <br />
  <div>
    <img
      src="{{url_for('my_task.static', filename='assets/orderDown.png')}}"
      width="50"
      height="50"
    />
    <b>Send to bottom</b>
    <br />
    When in send to bottom mode, clicking on a shape will send it to the bottom.
  </div>
  <br />
  <div>
    <img
      src="{{url_for('my_task.static', filename='assets/erase.png')}}"
      width="50"
      height="50"
    />
    <b>Erase</b>
    <br />
    When in erase mode, clicking on a shape will erase it.
  </div>
  <br />
  <div>
    <img
      src="{{url_for('my_task.static', filename='assets/copy.png')}}"
      width="50"
      height="50"
    />
    <b>Copy</b>
    <br />
    When in copy mode, clicking on a shape will create a copy of it.
  </div>

  <br />
  <br />

  You may <b>save this page</b> for future reference.
</div>
