<style>
    .fig {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .fig * {
        max-width: 100%;
        max-height: 40vh;
        text-align: center;
    }
</style>
<h1>Task 2 - Sea Ice Extent with Shadow Marks</h1>
<br />
<div class="fig">
    <img src="{{url_for('my_task.static', filename = 'assets/instructions/shadowmarkers_task2_img1.webp')}}" alt="Shadow Markers task 2 image 1"/>
    <small><b>Fig.1.</b> Example of performing a shadow mark comparison the two islands of interest in 1 of 6 sea ice videos.<br/>A rectangle is drawn to encapsulate the two islands, and a line is drawn down its center.</small>
</div>
<br />
This task has 2 comparison trials. For each trial, 6 Arctic sea ice videos will load in for you to view and compare.
Your task is to find between 1 and 3 videos where the ice extends past the vertical halfway line between the two
islands contained in the rectangle in Figure 1.
<br /><br />
First, make a mark to encapsulate the area of interest (using either the rectangle, line, or freeform tool), like in Figure 1. 
Then, draw a vertical line down the center of this area, like in Figure 1. Then, play through all the videos and look for between
1 and 3 videos where ice (light blue and white) extends past the middle line. Select all videos where this happens.
<br /><br />
<b>Reminder</b>: select a video by holding <b>CONTROL</b> and clicking on it. 
<br /><br />
Click <b>Continue</b> to begin.