<style>
    .fig {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .fig * {
        max-width: 100%;
    }
</style>
<h1>Task 1 - Tallest Plant with Shadow Marks</h1>
<br />
<div class="fig">
    <img src="{{url_for('my_task.static', filename = 'assets/instructions/shadowmarkers_task1_img1.jpg')}}" alt="Shadow Markers task 1 image 1"/>
    <small><b>Fig.1.</b> Example of performing shadow marker comparison on 6 sunflower plants.</small>
</div>
<br />
This task has 2 comparison trials. For each trial, 6 plant videos will load in for you to view and compare.
Your task is to find the plant that grows the tallest.
<br /><br />
Start by playing through each video and guessing which plant reachest the highest point. Make a mark at this point (we recommend a line mark,
but you can use any of the mark types available). Then go through each of the other videos and do the following:
<ol>
    <li>Play through the plant video and check if the plant grows higher than your mark.</li>
    <li>If it does, remove the last mark and add a new one to the highest point of the new video.</li>
    <li>Continue on to the next video.</li>
</ol>
Once you have gone through all the videos, select the video that the remaining mark belongs to (hovering over the mark will highlight the video it
belongs to).
<br /><br />
<b>Reminder</b>: select a video by holding <b>CONTROL</b> and clicking on it. 
<br /><br />
Click <b>Continue</b> to begin.