<style>
    .fig {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .fig * {
        max-width: 100%;
        max-height: 40vh;
        text-align: center;
    }
</style>
<h1>Task 4 - Identifying Outliers with Shadow Marks</h1>
<br />
<div class="fig">
    <img src="{{url_for('my_task.static', filename = 'assets/instructions/shadowmarkers_task4_img1.webp')}}" alt="Shadow Markers task 4 image 1"/>
    <small><b>Fig.1.</b> Example of performing shadow mark comparison on 1 of 6 scatterplots.</small>
</div>
<br />
This task has 2 comparison trials. For each trial, 6 scatterplots will load in for you to view and compare.
Your task is to find the scatterplot that has the farthest outlier from the diagonal in the top left half of the plot.
<br /><br />
First, draw a line across the diagonal, like in Figure 1. Then, with the cursor tool, hover over any outliers you see in the first plot above the diagonal line, like in Figure 1.
Then go through each of the other scatterplots and do the following:
<ol>
    <li>Look for any outliers above the line that are farther from the diagonal than your cursor.</li>
    <li>If there are, hover over that outlier instead and continue.</li>
</ol>
Once you have gone through all the scatterplots, select the plot that you are hovering over.
<br /><br />
<b>Reminder</b>: select a video by holding <b>CONTROL</b> and clicking on it.
<br /><br />
Click <b>Continue</b> to begin.