<style>
    .fig {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .fig * {
        max-width: 100%;
        text-align: center;
    }
</style>
<h1>Task 3 - Baseball Registration with Shadow Marks</h1>
<br />
<div class="fig">
    <img src="{{url_for('my_task.static', filename = 'assets/instructions/shadowmarkers_task3_img1.jpg')}}" alt="Shadow Mark task 3 image 1"/>
    <small>Fig.1. Example of performing shadow mark comparison on 6 baseball pitching videos in <b>marker</b> mode. Find any videos where the release point is close to the release point of the pitcher in the top left-hand corner (highlighted in red).</small>
</div>
<br />
This task has 2 comparison trials. For each trial, 6 baseball pitching videos will load in for you to view and compare.
Your task is to find any videos where the pitcher's release point (location where the ball leaves the pitchers hand) is close to
the release point of the pitcher in the top left-hand corner (highlighted in red in Figure 1 & 2).
<br /><br />
<div class="fig">
    <img src="{{url_for('my_task.static', filename = 'assets/instructions/shadowmarkers_task3_img2.jpg')}}" alt="Shadow Mark task 3 image 2"/>
    <small>Fig.2. Example of performing shadow mark comparison on 6 baseball pitching videos in <b>cursor</b> mode. Find any videos where the release point is close to the release point of the pitcher in the top left-hand corner (highlighted in red).</small>
</div>
<br />
Play through the top left video until the pitcher releases the ball. Add a mark at this location. You can use any mark you like, but we recommend either using the marker
(as in Figure 1) or the cursor (as in Figure 2). Once your release point is marked, play through the other videos and check to see if their release points are close to
your mark. Select any videos where it is close.
<br /><br />
<b>Note</b>: "close" means within the length of the pitchers head.
<br /><br />
<b>Reminder</b>: select a video by holding <b>CONTROL</b> and clicking on it. 
<br /><br />
Click <b>Continue</b> to begin.