<style>
    .fig {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .fig * {
        max-width: 100%;
    }

    /* .figrow {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }

    .figrow * {
        max-width: 100%;
        margin-left: 10px;
    } */
</style>


<h1>Shadow Marks</h1>

A <b>Shadow Mark</b> is an object that can be placed in one display, and will be <i>shadowed</i> (or mirrored) in all other displays at the same location.
An example Shadow Mark is the red cursor visible in all of the videos of Figure 1.

<br />
<br />
<div class="fig">
    <img src="{{url_for('my_task.static', filename = 'assets/instructions/task1/shadowmarkers_description_img1.webp')}}" alt="Shadow Marks image"/>
    <small><b>Fig.1.</b> Example of a Cursor Shadow Mark placed within a plant video and shadowed in all other plant videos.</small>
</div>
<br />
<br />

In this example, the user has placed a <b>Cursor</b> Shadow Mark at the top of the first plant by clicking within the display.
The system duplicates the lines at the same location in all the other videos. Now the user can compare the heights of all the plants by
observing which plants are above or below the horizontal line.

<br /><br />
You can play through the videos by pressing <b>SPACEBAR</b>, or by dragging the scrollbar located at the bottom of the page.
Watch frame by frame by tapping the <b>LEFT ARROW</b> or the <b>RIGHT ARROW</b>.
<br /><br />
You can also zoom in by holding <b>CONTROL</b> and pressing the <b>+</b> key, and zoom out by holding <b>CONTROL</b> and pressing the <b>-</b> key.
<br/><br />
If you forget any of the features available, click on the help button located on the left side of the scrollbar.
<br /><br />
Click <b>Continue</b> to enter a sandbox environment to practice with this technique.