<style>
    .fig {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .fig * {
        max-width: 100%;
        max-height: 40vh;
    }

    /* .figrow {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }

    .figrow * {
        max-width: 100%;
        margin-left: 10px;
    } */
</style>


<h1>Shadow Marks</h1>

A <b>Shadow Mark</b> is an object that can be placed in one display, and will be <i>shadowed</i> (or mirrored) in all other displays at the same location.
An example Shadow Mark is the green marker visible in all of the videos of Figure 1.

<br />
<br />
<div class="fig">
    <img src="{{url_for('my_task.static', filename = 'assets/instructions/task3/shadowmarkers_description_img1.webp')}}" alt="Shadow Marks image"/>
    <small><b>Fig.1.</b> Example of a Shadow Mark placed within a baseball pitching video and shadowed in all other videos.</small>
</div>
<br />
<br />

In this example, the user places a <b>Marker</b> Shadow Mark at the pitcher's release point in the first video by clicking on the dispaly.
The system duplicates the marker at the same location in all the other videos. Now the user can compare this position to all the other videos.

<br /><br />
You can play through the videos by pressing <b>SPACEBAR</b>, or by dragging the scrollbar located at the bottom of the page.
Watch frame by frame by tapping the <b>LEFT ARROW</b> or the <b>RIGHT ARROW</b>.
<br /><br />
You zoom in by holding <b>CONTROL</b> and pressing the <b>+</b> key, and zoom out by holding <b>CONTROL</b> and pressing the <b>-</b> key.
<br/><br />
If you forget any of the features available, click on the help button located in the bottom left corner (as seen in Figure 4).
<br /><br />
Click <b>Continue</b> to begin.