<style>
    .fig {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .fig * {
        max-width: 100%;
        max-height: 40vh;
        text-align: center;
    }
</style>
<h1>Task 2 - Sea Ice Extent with Shadow Marks</h1>
<br />
<div class="fig">
    <img src="{{url_for('my_task.static', filename = 'assets/instructions/smallmultiples_task2_img1.webp')}}" alt="Shadow Markers task 2 image 1"/>
    <small><b>Fig.1.</b> Imaginary dotted red line halfway between the two islands of interest. Find between 1 and 3 videos where the sea ice extends past this imaginary halfway line.</small>
</div>
<br />
<b>Description</b>: This task has 2 comparison trials. For each trial, 6 Arctic sea ice videos will load in for you to view and compare.
Your task is to find between 1 and 3 videos where the ice extends past the imaginary line drawn between the middle of the two islands.
This line is visualized in Figure 1.
<br /><br />
<b>Steps</b>: First, draw a line halfway between the two islands, like in Figure 1, using the Line tool. If you want to be precise,
you can use the Rectangle tool to draw a rectangle around the two islands then use the Line tool to split the rectangle vertically.
Then, play though all the videos and look for between 1 and 3 videos where ice (light blue and white) extends past the line. Select all videos where this happens.
<br /><br />
<b>Reminder</b>: Select a video by holding <b>CONTROL</b> and clicking on it. 
<br /><br />
Click <b>Continue</b> to begin.