<style>
    .fig {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .fig * {
        max-width: 100%;
        max-height: 40vh;
        text-align: center;
    }
</style>
<h1>Task 2 - Sea Ice Extent with Shadow Marks</h1>
<br />
<div class="fig">
    <img src="{{url_for('my_task.static', filename = 'assets/instructions/smallmultiples_task2_img1.webp')}}" alt="Shadow Markers task 2 image 1"/>
    <small><b>Fig.1.</b>Region of interest, highlighted in red. Find videos where ice extends close to or passed the right side of this area.<br/>Use a shadow mark to encapsulate a similar area. The "close" threshold is represented by a yellow line in this figure.</small>
</div>
<br />
This task has 2 comparison trials. For each trial, 6 Arctic sea ice videos will load in for you to view and compare.
Your task is to find any videos where the ice extends close to or passed the line between the eastern (right-side) edges of the islands
(highlighted in Figure 1).
<br /><br />
First, make a mark to encapsulate the area of interest (using either the rectangle, line, or freeform tool) like in Figure 1. Then,
play through all the videos and look for any videos where ice (light blue and white) extends into the marked region and gets close to or passes the
right edge of this area. Select all videos where this happens.
<br /><br />
<b>Note</b>: "close" means passed the yellow line in Figure 1.
<br /><br />
<b>Reminder</b>: select a video by holding <b>CONTROL</b> and clicking on it. 
<br /><br />
Click <b>Continue</b> to begin.