<style>
    .fig {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .fig * {
        max-width: 100%;
        max-height: 50vh;
    }
</style>


<h1>Small Multiples Interface</h1>

The Small Multiples interface shows several images in a grid layout.
All images can be compared at the same time.
An example of this layout can be seen below in Figure 1.

<br />
<br />
<div class="fig">
    <img src="{{url_for('my_task.static', filename = 'assets/instructions/task4/smallmultiples_description_img1.webp')}}" alt="Small Multiples layout image"/>
    <small><b>Fig.1.</b> Example of a Small Multiples layout of 9 scatterplots.</small>
</div>
<br />
<br />

The system's workspace automatically places images into a Small Multiples layout.
You can zoom in by holding <b>CONTROL</b> and pressing the <b>+</b> key, and zoom out by holding <b>CONTROL</b> and pressing the <b>-</b> key.
<br/><br />
If you forget any of the features available, click on the help button located in the bottom left corner (as seen in Figure 3).

<br />
<br />
<div class="fig">
    <img src="{{url_for('my_task.static', filename = 'assets/instructions/task4/smallmultiples_description_img3.webp')}}" alt="Help button image"/>
    <small><b>Fig.3.</b> Help button.</small>
</div>
<br />
<br />

<b>Warning</b>: If you switch tabs, exit fullscreen, or move your cursor out of the webpage for too long, you will redirected to another screen and you will need to restart the task.
<br /><br />

Click <b>Continue</b> to begin the tasks with this technique.