<style>
    .fig {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .fig * {
        max-width: 100%;
    }
</style>


<h1>Small Multiples Interface</h1>

The Small Multiples interface shows several images or videos in a grid layout.
All images or videos can be compared at the same time.
An example of this layout can be seen below in Figure 1.

<br />
<br />
<div class="fig">
    <img src="{{url_for('my_task.static', filename = 'assets/instructions/smallmultiples_description_img1.jpg')}}" alt="Small Multiples layout image"/>
    <small><b>Fig.1.</b> Example of a Small Multiples layout of 18 plant videos.</small>
</div>
<br />
<br />

The system's workspace automatically places images and videos into a Small Multiples layout. You can play through the videos by pressing <b>SPACEBAR</b>,
or by dragging the scrollbar located at the bottom of the page (as seen in Figure 2). Watch frame by frame by tapping the <b>LEFT ARROW</b> or the <b>RIGHT ARROW</b>.

<br />
<br />
<div class="fig">
    <img src="{{url_for('my_task.static', filename = 'assets/instructions/smallmultiples_description_img2.png')}}" alt="Scrollbar image"/>
    <small><b>Fig.2.</b> Scrollbar that controls all videos.</small>
</div>
<br />
<br />

You can also zoom in by holding <b>CONTROL</b> and pressing the <b>+</b> key, and zoom out by holding <b>CONTROL</b> and pressing the <b>-</b> key.
<br/><br />
If you forget any of the features available, click on the help button located on the left side of the scrollbar (as seen in Figure 3).

<br />
<br />
<div class="fig">
    <img src="{{url_for('my_task.static', filename = 'assets/instructions/smallmultiples_description_img3.png')}}" alt="Help button image"/>
    <small><b>Fig.3.</b> Help button.</small>
</div>
<br />
<br />

Click <b>Continue</b> to begin the tasks with this technique.