<style>
    .fig {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .fig * {
        max-width: 100%;
    }
</style>
<h1>Task 1 - Tallest Plant with Small Multiples</h1>
<br />
<div class="fig">
    <img src="{{url_for('my_task.static', filename = 'assets/instructions/smallmultiples_task1_img1.jpg')}}" alt="Small Multiples task 1 image 1"/>
    <small>Fig.1. Example of performing small multiples comparison of 6 sunflower plants.</small>
</div>
<br />
This task has 2 comparison trials. For each trial, 6 plant growing videos will load in for you to view and compare.
Your task is to find the plant that grows the tallest.
<br /><br />
Play through all the videos and look for the highest point that each plant reaches. Select the plant whose highest point is the tallest.
<br /><br />
<b>Reminder</b>: select a video by holding <b>CONTROL</b> and clicking on it. 
<br /><br />
Click <b>Continue</b> to begin.