<div>
  <h1>Aimkey Instructions</h1>
  Aimkeys is an interaction technique that uses what are called
  <i>quasimodes</i>.
  <br />
  A quasimode is a mode that only exists when the user continually acts on the
  actuator. For example, holding down the shift key to get a capital letter is
  an example of a quasimode.
  <br />
  <br />
  <h2>Keybinds</h2>
  <h3>C - Circle</h3>
  The <b>C</b> key draws a circle with it's center at the mouse position. Drag
  the mouse while holding down the C key to change it's diameter. Release the C
  key to complete the circle.

  <h3>X - Rectangle</h3>
  The <b>X</b> key draws a rectangle with one of it's corners at the mouse
  position. Drag the mouse while holding down the X key to change it's length
  and width. Release the X key to complete the rectangle.

  <h3>V/A - Polygon</h3>
  The <b>V</b> key is the polygon mode key. To draw a polygon, hold the V key,
  and press the <b>A</b> key to place verticies at the mouse position. Release
  the V key when you have finished placing verticies.

  <h3>F - Move</h3>
  The <b>F</b> key is the grabbing key. Hover over a shape and hold the F key to
  move the shape with the mouse. Release the F key when you are satisfied with
  it's placement.

  <h3>D - Scale</h3>
  The <b>D</b> key is for scaling. Hover over a shape and hold the D key to
  scale a shape from it's center using the mouse. Release the D key when you are
  satisfied with it's size.

  <h3>R - Rotate</h3>
  The <b>R</b> key is for rotation. Hover over a shape and hold the R key to
  rotate a shape using the mouse. Release the R key when you are satisfied with
  it's rotation.

  <h3>W - Handle</h3>
  The <b>W</b> key is for handle modification. Hover over a shape and hold the W
  key to grab the shapes closest handle. The handle can be hoved with the mouse.
  Release the W key when you are satisfied.

  <h3>H - Colour</h3>
  The <b>H</b> key is for colour. Hover over a shape and hold the H key to
  display a colourwheel at the mouse position. Hover the mouse over your desired
  colour and release the H key to colour the hovered shape.

  <h3>T - Bring to top</h3>
  The <b>T</b> key is for bringing a shape to the top. Hover over a shape and
  press the T key to bring it to the top.

  <h3>G - Send to bottom</h3>
  The <b>G</b> key is for sending a shape to the bottom. Hover over a shape and
  press the G key to send it to the bottom.

  <h3>E - Erase</h3>
  The <b>E</b> key is for is for erasing a shape. Hover a shape and press the E
  key to erase it.

  <h3>B - Copy</h3>
  The <b>B</b> key is for is for copying a shape. Hover a shape and press the B
  key to create a copy of it.

  <br />
  <br />
  You may <b>save this page</b> for future reference.
</div>
