<style>
    .fig {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .fig * {
        max-width: 100%;
        text-align: center;
    }
</style>
<h1>Task 3 - Baseball Registration with Small Multiples</h1>
<br />
<div class="fig">
    <img src="{{url_for('my_task.static', filename = 'assets/instructions/smallmultiples_task3_img1.jpg')}}" alt="Small Multiples task 3 image 1"/>
    <small><b>Fig.1.</b> Example of performing small multiples comparison on 6 baseball pitching videos. Find any videos where the release point is close to the release point of the pitcher in the top left-hand corner (highlighted in red).</small>
</div>
<br />
This task has 2 comparison trials. For each trial, 6 baseball pitching videos will load in for you to view and compare.
Your task is to find any videos where the pitcher's release point (location where the ball leaves the pitchers hand) is close to
the release point of the pitcher in the top left-hand corner (highlighted in red in Figure 1).
<br /><br />
Play through all the videos and locate the position where the pitcher releases the ball. If this position is close to the release point
of the pitcher in the top left-hand corner, select the video.
<br /><br />
<b>Note</b>: "close" means within the length of the pitchers head.
<br /><br />
<b>Reminder</b>: select a video by holding <b>CONTROL</b> and clicking on it. 
<br /><br />
Click <b>Continue</b> to begin.