<style> 
    img {
        max-width: 300px;
        max-height: 300px;
        margin-right: 10px;
    }
</style> 
<h1>Task 2 - Measuring Spatial Distance</h1>
<br />
In this task, you will be looking at plant growing videos again, and baseball pitching videos:
<br />
<br />
<img src="{{url_for('my_task.static', filename = 'assets/instructions/task2-1-1.png')}}"/><img style="max-width: 533px;" src="{{url_for('my_task.static', filename = 'assets/instructions/task2-1-2.jpg')}}"/>
<br />
<small>Fig. 1. example plant growth (left), example pitching video (right)</small>
<br />
<br />
Compare each of the videos displayed.
<br />
For the <b>plant growing</b> videos, select the video with the plant that grows the <b>tallest</b>.
Example:
<br />
<br />
<img style="max-width: 600px;" src="{{url_for('my_task.static', filename = 'assets/instructions/task2-2-1.png')}}"/>
<br />
<small>Fig. 2. example plant growing videos; green check mark indicates correct video</small>
<br />
<br />
For the <b>pitching</b> videos, select the pitch that moves the farthest <b>horizontally</b> from
release to catch. Example:
<br />
<br />
<img style="max-width: 450px; max-height: none;" src="{{url_for('my_task.static', filename = 'assets/instructions/task2-3-1.jpg')}}"/><img style="max-width: 450px; max-height: none;" src="{{url_for('my_task.static', filename = 'assets/instructions/task2-3-2.jpg')}}"/>
<br />
<small>Fig. 3. example pitching videos, top images are release points, bottom are catch points; green check mark indicates correct videos</small>
<br />
<br />