<style> 
    img {
        max-width: 300px;
        max-height: 300px;
        margin-right: 10px;
    }
</style> 
<h1>Task 1 - Measuring Extent</h1>
<br />
For the first task, you will be looking at plant growing videos, as well as satellite timelapse
videos of antarctic and arctic sea ice throughout the year:
<br />
<br />
<img src="{{url_for('my_task.static', filename = 'assets/instructions/task1-1-1.png')}}"/><img src="{{url_for('my_task.static', filename = 'assets/instructions/task1-1-2.png')}}"/><img src="{{url_for('my_task.static', filename = 'assets/instructions/task1-1-3.png')}}"/>
<br />
<small>Fig. 1. example plant growth (left), antarctic sea ice (middle), arctic sea ice (right)</small>
<br />
<br />
Compare each video with an example image on the right side of the screen.
<br />
For the <b>plant growing</b> and <b>antarctic</b> videos, select all videos (if any) where the plant or ice grows to have
a <b>larger</b> area. Example:
<br />
<br />
<img style="max-width: 600px;" src="{{url_for('my_task.static', filename = 'assets/instructions/task1-2-1.png')}}"/><img src="{{url_for('my_task.static', filename = 'assets/instructions/task1-2-2.png')}}"/>
<br />
<small>Fig. 2. example plant growing videos (left 2) compared to example image (right); green check mark indicates correct videos</small>
<br />
<br />
<img style="max-width: 600px;" src="{{url_for('my_task.static', filename = 'assets/instructions/task1-3-1.png')}}"/><img src="{{url_for('my_task.static', filename = 'assets/instructions/task1-3-2.png')}}"/>
<br />
<small>Fig. 3. antarctic ice videos (left) compared to example image (right); green check mark indicates correct videos</small>
<br />
<br />
For the <b>videos</b>, select all videos (if any) where the ice shrinks to have a <b>smaller</b> area. Example:
<br />
<br />
<img style="max-width: 600px;" src="{{url_for('my_task.static', filename = 'assets/instructions/task1-4-1.png')}}"/><img src="{{url_for('my_task.static', filename = 'assets/instructions/task1-4-2.png')}}"/>
<br />
<small>Fig. 4. arctic ice videos (left) compared to example image (right); green check mark indicates correct videos</small>
<br />
<br />