<style> 
    img {
        max-width: 300px;
        max-height: 600;
        margin-right: 10px;
    }
</style> 
<h1>Task 1 - Measuring Temporal Distance</h1>
<br />
For the third and final task, you will be looking at just plant growing videos.
Compare each of the videos displayed, and select the video that grows the most from the start to the
end of their flowering cycle. Example:
<br />
<br />
<img src="{{url_for('my_task.static', filename = 'assets/instructions/task3-1-1.png')}}"/><img src="{{url_for('my_task.static', filename = 'assets/instructions/task3-1-2.png')}}"/><img src="{{url_for('my_task.static', filename = 'assets/instructions/task3-1-3.png')}}"/>
<br />
<small>Fig. 1. example plant growing videos, top images are the start of flowering (green bar), bottom images are end of flowering (red bar); green check mark indicates correct videos</small>
<br />
<br />